#contents {
 
    & .container-content {
   
        height: 591px;
        padding: 0 24px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 14px;

        & .item-content {
            width: 400px;    
            
            & .img-cover {
                
                & img {
                    border-radius: 10px;
                }
            }

            & .item-info {
                display: flex;
                flex-direction: row;
                margin-top: 10px;
    
                & .img-channel {
                    & img {
                        border-radius: 50%;
                    }
                }
    
                & .item-info-text { 
                    margin-left: 10px;
    
                    & .text-title {
                        font-size: 16px;
                        margin: 0;
                        display: -webkit-box;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                        -webkit-box-orient: vertical;
                    }
    
                    & .text-channel {
                        font-size: 14px;
                        color: #aaa;
                        margin: 8px 0;
                    }   
    
                    & .text-countWatch {
                        font-size: 14px;
                        color: #aaa;
                        margin: 8px 0;
                    }
                }
            }
        }
    }
}